@font-face{
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
         url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body{
    font-family:Verdana,Geneva,Arial,sans-serif;
    font-size: 14px;
    background-color:white;
    line-height: 1.6em;
}
h1,h2,h3{
    font-style: italic;
    font-weight: bold;
}
h2,h3{
    border-bottom: thin dotted #668899;
}
h1{
    /*text-decoration: underline;*/
    text-align:center;
    color: navy;
    font-size: 200%;
}
h2{
    color: blue;
    font-size: 1.5em;
}
h3{
    color: teal;
    font-style: oblique;
    font-weight: normal;
    font-size: 1.2em;
}
em{
    font-style: italic;
    font-family:italic;
    color: red;
}
.history{
    line-height: 1.9em;
    font-style: solid; 
    border-color: black;
    border-top-color: green;
    border-radius: 16px;
    border-width: 1px;
    border-style: dashed;
    color: #444444;
    padding: 25px;
    padding-left: 45px;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../image/yi.jpg);
    background-repeat: no-repeat;
    background-repeat: top left;
}
#gray{
    color:gray;
}
#green{
    color:green;
}
#blueberry{
    color:blue;
}
#list{
    border-style:dashed;
    border-color:blue;
    border-width:1.5px;
    border-radius:16px;
    text-align: center;
    margin-left:60%;
    padding:20px;
    width:500px;
    background-image:url(../image/jiweijiu.png);
    background-repeat:repeat-x;
}
#list h2{
    border-bottom:none;
    color:rgb(80%,40%,0%);;
}
.cd{
    font-style:italic;
}
.artist{
    font-weight: bold;
}
#music{
    border-style:none;
    border-width:l px;
    margin-left:60%;
}
#music h2{
    border-bottom:none;
}
.colorlist{
    text-decoration: line-through;
    text-decoration: underline,uverline;
    text-decoration: none;
    background-color: rgb(80%,40%,0%);
    background-color: rgb(204,102,0);
    background_color: #cc6600;
    color:aqua; color:black;color:blue;color:fuchsia;   
    color:gray; color:green;color:lime;color:maroon;
    color:navy; color:olive;color:purple;color:red;
    color:silver;color:Teal;color:white;color:yellow;
}